
    <%- layout('layouts/boilerplate') %>
    
    <h1>Edit comments</h1>
   <form action="/comments/<%=edit._id%>?_method=PUT" method="POST" class="validated-form" novalidate>
    <div>
        <label for="username">Enter username</label>
        <input type="text" id="username" placeholder="enter your username" name="comments[username]" value="<%=edit.username%>" required>
       </div>
    
       <div>
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="enter your title" name="comments[title]" value="<%=edit.title%>" required>    
      </div>

      <div>
        <label for="location">Location</label>
        <input type="text" id="location" placeholder="enter your location" name="comments[location]" value="<%=edit.location%>" required>    
      </div>

      <div>
        <label for="comments">Comments</label>
        <input type="text" id="comments" placeholder="enter your comments" name="comments[comments]" value="<%=edit.comments%>" required>    
      </div>

     <button>Edit Comments</button>
     </form>
