
    <% layout('layouts/boilerplate') %>
    
     <h1>Show comments</h1>
     <h2><%=use.username%>-<%=use.title%></h2>
     <img src="<%=use.image%>">
     <div>
       <form action="/comments/<%=use._id%>?_method=DELETE" method="POST"> <button>Delete</button></form>
     </div>

    <a href="/comments">The individual comments</a>

    <a href="/comments/<%=use._id%>/edit">Edit comments</a>
